<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="instatue.css">
</head>
<body id="body_browse">
    <header id="header_browse">
        <a href="index1.html" id="browse_instatue">Instatue</a> 
        <nav id="nav_browse">
            <a href="empty.html">Logout</a>
            <a href="{{ url_for('display_exercise') }}">Exercise</a>
            <a href="{{ url_for('points') }}">Points</a>
            <a href="{{ url_for('community') }}">Community</a>
        </nav>
    </header>

    <a href="exercise.html" id="a_browse">get started</a>

</body>
</html> 